.four-oh-four-header {
    font-size: 10em;
    text-align: center;
}

.four-oh-four-subheader {
    font-size: 4em;
    text-align: center;
}

.four-oh-four-text {
    font-size: 2em;
    text-align: center;
}

.four-oh-four-search {
    margin-bottom: 5em;
    text-align: center;
}