/*
 * Set the colors for the site based on the style tiles
 *
 */

$color-primary: #5d8ac7; /*blue*/
$color-secondary:#8bc53f; /*green*/
$color-accent: #1e2454; /*dark blue*/
$color-background: #ffffff; /*white*/
$color-text: #6d6d6d; /*dark gray*/

$white: #ffffff;
$black: #000000;
$light-grey: #f6f6f6;
$medium-grey: #c5c5c5;