/*
 * Set fonts for the theme
 * (enqueue them in the functions.php file)
 *
 */

$font-size-base: 18px;

$font-title: 'Lato', Helvetica, sans-serif;
$font-heading: 'Lato', Helvetica, sans-serif;
$font-body: 'Lato Light', Helvetica, sans-serif;