/**
 * Main wrappers
 */

header:after,
section:after,
footer:before,
.site-content:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Header wrappers
 */

header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    z-index: 9999;
}

nav {
    background-color: $color-primary;
    border: 0;
}

.screen-reader-text {
    display: none
}

/**
 * Page wrappers
 */

.site-main {
    @include outer-container();
}

#primary,
#secondary {
    margin-top: 1em;
}

#primary {
    @include span_columns(8);
}

#secondary {
    @include span-columns(4);
}

.container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2em;
    padding-left: 2em
}

/**
 * Home page wrappers
 */

/**
 * Footer wrappers
 */

.b-footer {
    background-color: $color-primary;
    color: $white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.b-footer__container {
    @include container;
}

.b-footer__site-info {
    color: $white;
    font-size: .8em;
    width: 100%;
    padding: .5em 0;
    text-align: center;

    a {
        color: $white;

        &:hover {
            color: $color-secondary;
        }
    }
}
