/*
 * Heading styles
 *
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $color-primary;
    font-family: $font-heading;

    a {
        text-decoration: none;

        :hover {
            color: $color-secondary;
        }
    }
}

h1 {
    font-size: $font-size-base * 1.7;
}

h2 {
    font-size: $font-size-base * 1.5;
    font-weight: bolder;
    text-transform: uppercase;
}

h3 {
    font-size: $font-size-base * 1.2;
    font-weight: bolder;
}

h4 {
    font-size: $font-size-base * 1.2;
    text-transform: uppercase;
}

h5 {
    font-style: italic;
}
