/*
 * Set fonts for the theme
 * (enqueue them in the functions.php file)
 *
 */

$font-size-base: 18px;

$font-lato: 'Lato', Helvetica, sans-serif;
$font-open-sans: 'Open Sans', Helvetica, sans-serif;
$font-oswald: 'Oswald', Impact, sans-serif;
$font-mono: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;

$font-title: $font-oswald;
$font-heading: $font-lato;
$font-body: $font-open-sans;