/*
 * Sets style for alignment classes
 * required for WordPress classes generated automatically
 *
 */

.alignleft {
    display: inline;
    float: left
}

.alignright {
    display: inline;
    float: right
}

.aligncenter,
.alignnone {
    display: block
}

.aligncenter {
    margin-right: auto;
    margin-left: auto
}

// also center text
.center-text {
    text-align: center;
}