/*
 * Styles for links
 *
 */

a {
    background-color: transparent;
    text-decoration: underline;
    color: inherit; // color alone isn't accessibility friendly

    &:active,
    &:hover {
        color: darken($color-secondary, $darken-percentage);
        outline: 0;
        text-decoration: none;
    }
}